@media (max-width: 1200px) {
  .content .maxwidthclass,.contact .maxwidthclass{
    max-width: 450px;
  }
  .navbar-default .navbar-toggle {
    margin-top: 40px; }

  .secst2 .velikacrta {
    top: 100px; }

  .navbar-default .navbar-brand {
    position: relative; }

  .navbar-default .navbar-nav > li > a {
    margin: 0; }

  .navbar-default .navbar-nav {
    height: auto; }

  .secst2 .cont h1 {
    font-size: 30px; } }
@media (max-width: 992px) {

  .content .maxwidthclass,.contact .maxwidthclass{
    margin: auto;
    max-width: 100%;
    margin-left: 15px;
  }
  .content .fixedrow,.contact .fixedrow{
    max-width: 750px;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    position: relative;
  }
  .content{
    padding-top: 190px;
  }
  .secst2 .cont h1, .secst2 .cont p {
    text-align: center; }

  .secst2 .velikacrta {
    display: none; }

  .secst2 h1 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px; }

  .secst2 p {
    margin-top: 0;
    text-align: center;
    margin-bottom: 50px; }

  .secst2 {
    padding-top: 20px; }

  .secst2 .col-md-4:nth-child(2) {
    border: 0; }

  .contratar .crtica {
    display: none; }

  .contratar .btn2 {
    text-align: center; }

  .contratar h1 {
    text-align: center; }

  .footer p {
    text-align: center; }

  .contratar p {
    text-align: center; }

  .contratar .btn2 {
    padding-top: 0; }

  .contratar p {
    margin-top: 30px; } 
    .content h1{text-align: center}
    .content p{text-align: center;}
    .content .cont{padding-left: 20px;padding-right: 20px;}
    .content{padding-top: 125px}}
@media (max-width: 768px) {
  .content .maxwidthclass,.contact .maxwidthclass{
    margin: auto;
  }
  .contact{
    padding-top: 0;
  }
  .navbar-default .navbar-toggle {
    margin-top: 35px; }

  .side-collapse {
    top: 105px; }

  .aftermenuwhiteline {
    display: none; }

  .navbar-default .navbar-brand a img {
    max-width: 245px;
    margin-top: 10px;
    }

  .hero {
    padding-top: 200px;
    height: 650px; }

  .hero .title h2 {
    font-size: 32px; }

  .hero .title {
    padding: 15px 10px 15px 10px; }

  .sectores ul li .cont {
    width: 100%; }

  .sectores ul li {
    display: block; }

  .contact .cont .contact{padding-top: 150px}
.contact .wp:before,.contact .no1:before,.contact .location:before,.contact .time:before{
  margin-left: -40px;
  }
  .hero .mainbtn a{
      font-size: 18px;
      padding: 15px 40px;
  }
  .contratar .btn2 a{
        padding: 15px 40px;
        font-size: 16px;
  }
  
  #content_makerequest, #content_register, #content_employee{
      width: 90%!important;
  }
  

}

.navbar-nav {
    margin: 0px -15px;
}

.navbar-right li{
    border-bottom: none!important;
    padding: 0 25px;
}

.has-feedback label~.form-control-feedback {
    top: 42px!important;
    margin-right: 5px!important;
}

#content_makerequest, #content_register, #content_employee{
      padding: 20px!important;
  }
  .navbar-brand{
      padding: 0px!important;
  }
/*# sourceMappingURL=responsive.css.map */
